extends index.pug

block content
  section.layout-width-sd.layout-col
    .section-hdg.section-hdg-1 Categories (#{categories.length})
    .layout-row.layout-width-1-1
      .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        ul.itemlist
          each category in categories
            - let targetLoc = "/categories/" + category.id + "/";
            li.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
              .itemdetail.layout-col
                .label Name:
                .data #{category.name}
              if category.description
                .itemdetail.layout-col
                  .label Description:
                  .data #{category.description}
        #category_add_button_container.addcategory.layout-row.layout-justify-between.authUI(data-fetch="category_add" data-href="/actions/create/categories/")
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Category List View
        .infotext This is a list of categories.