extends index.pug

block content
  section.layout-width-sd.layout-col
    .section-hdg.section-hdg-1 Expense Entries (#{expenses.length})
    .layout-row.layout-width-1-1
      .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        include expense-list-compact
        #expense_add_button_container.addexpense.layout-row.layout-justify-between.authUI(data-fetch="expense_add" data-href="/actions/create/expenses/")
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Expense List View
        .infotext This is a list of expenses.
