.layout-width-1-1.layout-row.layout-md-col.layout-wrap
  .layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.layout-col
    h3 Recent Expenses
    include expense-list-compact
  .layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.layout-col
    h3 Analysis
    include expense-analysis
