link(rel="stylesheet" media="all" href="/css/your_special_css.css")
//- script(src="/socket.io/socket.io.js")
//- Other special directives here...
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
script(src="https://cdn.jsdelivr.net/npm/flatpickr")

